.menu-arrow {
  transition: transform 0.2s ease;
  display: inline-block;
}

.oa-icon {
  margin-left: 5px;
  height: 12px;
}

.os-header {
  color: gray;
  /* font-size: 14px; */
}

.text-muted a {
  color: gray;
  text-decoration: none;
}

/* When collapsed (default) -> arrow points right */
.collapsed .menu-arrow {
  transform: rotate(0deg);
}

/* When expanded -> arrow rotates 90deg down */
.menu-btn[aria-expanded="true"] .menu-arrow {
  transform: rotate(90deg);
}


.underline-hover {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: background-size 0.3s ease;
}

.underline-hover:hover {
  background-size: 100% 2px;
}

.issue-cover {
  text-align: center;
}

.header-logo {
  width: 35px;
}

.sticky-sidebar {
  /* position: sticky;
  top: 20px;
  align-self: flex-start; */
}

.title-paper:hover {
  color: navy !important;
  text-decoration: underline;
}

p,
ul li,
ol li,
ul li a,
ol li a,
p a,
span,
b,
i,
strong {
  text-align: justify;
  font-family: 'Times New Roman', serif;
  color: #555 !important;
  font-size: 16px !important;
}


h1 {
  font-size: 20px !important;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 18px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica', sans-serif;
  color: #333;
  font-weight: bold;
}